@model SeyahatSitesi.Models.Class.Contact
@{
    ViewData["Title"] = "KullaniciGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanici Getir Sayfasına Hoşgeldiniz</h1>


<br />
@using (Html.BeginForm("KullaniciGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x=>x.Id)
    @Html.TextBoxFor(x=>x.Id, new{@class="form-control",@readonly="readonly"})
        <br />
    @Html.LabelFor(x=> x.User)
    @*@Html.TextBoxFor(x=>x.Baslik)*@
    @Html.TextBoxFor(x=>x.User, new{@class="form-control"})
        <br />
    @Html.LabelFor(x=>x.Email)
    @Html.TextBoxFor(x=>x.Email, new{@class="form-control"})
        <br />
    @Html.LabelFor(x=>x.Subject)
    @Html.TextAreaFor(x=>x.Subject,3,1, new{@class="form-control"})
        <br />
    @Html.LabelFor(x=>x.Messaje)
    @Html.TextBoxFor(x=>x.Messaje, new{@class="form-control"})
        <br />
    @* @Html.Label("Yeni Blog:")*@
        <button class="btn btn-success">Kullanıcı Güncelle</button>
        <br />

    <br />
}